<template>
  <div class="single-portfolio">
    <div v-if="fetchedData" class="text-content">
      <KinesisContainer
        class="header-graphic relative d-flex df-justify-content-center df-align-centent-center d-none-ipad"
      >
        <KinesisElement
          :strength="5"
          type="depth"
          class="header-graphic--text absolute"
        >{{firstLetter}}</KinesisElement>
        <KinesisElement
          :strength="10"
          type="depth"
          class="header-graphic--bg header-graphic--bg-top"
        >
          <img src="https://placeimg.com/640/480/any" alt="imge" class />
        </KinesisElement>
        <KinesisElement
          :strength="5"
          type="depth"
          :originX="50"
          :originY="50"
          class="header-graphic--bg header-graphic--bg-bottom"
        />
      </KinesisContainer>

      <div class="description m-ends-xlg m-top-zero-ipad">
        <div class="description--text">
          <h2 class="thin colored">{{fetchedData.name}}</h2>
          <p class="blur m-ends-lg">{{fetchedData.breif}}</p>
          <p class>{{fetchedData.solution}}</p>

          <h4 class="colored m-top-xlg">Technologies</h4>
          <ul class>
            <li v-for="skill in fetchedData.skills" :key="skill" class="m-right-md">{{skill}}</li>
          </ul>
        </div>
        <div class="description--img">
          <img
            v-for="({desktop, ipad, iphone}, i) in fetchedData.imgs"
            :src="img"
            :key="`img-${i}`"
            :class="desktop"
          />
        </div>
      </div>
      <Btn
        backgroundcColor="#066a79"
        @onClick="goToLink(fetchedData.href)"
        v-if="isScrolled"
        :padding="16"
        :fontSize="1"
      >
        <div>Check out the Site</div>
      </Btn>

      <h4 class="colored m-top-xlg m-bottom-md">Colour Scheme</h4>
      <Masonry :items="fetchedData" withTitle="Color" id="color-scheme" />

      <div class="mock-up-imgs">
        <img
          v-for="(img, i) in fetchedData.imgs"
          :src="img"
          :key="`image${i}`"
          :id="`mockUpImg${i}`"
          alt="portfolio images"
          :class="`width-per-100`"
        />
      </div>

      <div class="d-flex p-ends-lg df-justify-content-center">
        <div class="width-per-50 d-flex df-justify-content-center relative">
          <router-link
            v-if="currentPortfolioID > 1"
            :to="`/portfolio/${currentPortfolioID - 1}`"
            class="m-right-md p-all-sm"
            @mouseover.native="onHover(currentPortfolioID - 1, 'left')"
            @mouseleave.native="isHovered = false"
          >previous</router-link>

          <router-link
            v-if="currentPortfolioID < artworks.length"
            :to="`/portfolio/${currentPortfolioID + 1}`"
            class="m-right-md p-all-sm"
            @mouseover.native="onHover(currentPortfolioID + 1, 'right')"
            @mouseleave.native="isHovered = false"
          >next</router-link>

          <div v-if="isHovered" :class="`absolute thumbnail ${hoveredPostion}-zero`">
            <img :src="hoveredItem.img" :alt="hoveredItem.title" class="width-per-100" />
          </div>
        </div>
      </div>

      <Btn
        :isCircle="true"
        fixedPostion="bottomRight-xxlg"
        backgroundcColor="#066a79"
        @onClick="scrollUp"
        v-if="isScrolled"
      >
        <i class="fas fa-arrow-up"></i>
      </Btn>
    </div>
  </div>
  <!-- <div>item:{{item}}</div> -->
</template>
<script>
import { mapState } from "vuex";

import Btn from "./../assets/Btn.vue";
import Masonry from "./../assets/Masonry.vue";

import { KinesisContainer, KinesisElement } from "vue-kinesis";
import { gsap } from "gsap";

export default {
  components: {
    Btn,
    Masonry,
    KinesisContainer,
    KinesisElement
  },
  data: () => ({
    isScrolled: false,
    fetchedData: {},
    hoveredItem: "",
    isHovered: true,
    hoveredPostion: "",
    firstLetter: ""
  }),
  methods: {
    scrollUp(val) {
      if (val) {
        window.scroll({
          top: 0,
          behavior: "smooth"
        });
      }
    },

    activeScroll() {
      const checkScroll =
        document.documentElement.scrollTop > 20 || document.body.scrollTop > 20
          ? true
          : false;

      if (checkScroll) {
        this.isScrolled = true;
      } else {
        this.isScrolled = false;
      }
    },

    onHover(hoveredID, position) {
      this.hoveredItem = this.artworks.find(
        artwork => artwork.id === hoveredID
      );
      this.isHovered = true;
      this.hoveredPostion = position;
    },

    getItemByID(id) {
      const cleanId = Number(id);
      this.fetchedData = this.artworks.find(artwork => artwork.id === cleanId);
      this.getFirstletter();
    },

    getFirstletter() {
      const [firstLetter] = this.fetchedData.name;
      this.firstLetter = firstLetter;
    },

    goToLink(link) {
      location.href = `http://${link}`;
    },

    loadImg() {
      const scrollBottom =
        document.documentElement.scrollTop + window.innerHeight;
      const mockUpImg = document.getElementById("mockUpImg0");
      const containerPosition = mockUpImg.offsetTop;

      if (scrollBottom > containerPosition) {
        for (var i = 0; i < this.fetchedData.imgs.length; i++) {
          let delay = i;
          let id = `#mockUpImg${i}`;
          gsap.from(id, {
            opacity: 0,
            y: 100,
            duration: 1,
            delay: delay
          });
        }

        window.removeEventListener("scroll", this.loadImg);
      }
    }
  },
  computed: {
    ...mapState(["artworks"]),

    currentPortfolioID() {
      return Number(this.$route.params.id);
    }
  },

  created() {
    window.addEventListener("scroll", this.activeScroll);
    window.addEventListener("scroll", this.loadImg);
  },

  destroyed() {
    window.removeEventListener("scroll", this.activeScroll);
  },

  mounted() {
    this.getItemByID(this.currentPortfolioID);
  },

  beforeRouteUpdate(to, from, next) {
    this.getItemByID(to.params.id);
    next();
  }
};
</script>
<style lang="postcss" scoped>
.header-graphic {
  align-items: center;
}
.header-graphic--text {
  color: white;
  margin: 0;
  z-index: 3;
  text-transform: uppercase;
  font-size: calc(var(--base-font-size) * 8);
}

.header-graphic--bg {
  vertical-align: middle;
  max-width: 100%;
  position: relative;
  z-index: -1;
  border-radius: 100%;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 500px;
    height: 500px;
  }

  &-top {
    /* box-shadow: 0px 2px 11px 4px black; */
    z-index: 2;
    top: 50%;
    margin-top: -200px;
    /* transform: translateY(-50%); */
    width: 400px;
    height: 400px;
    position: absolute;
    &:after {
      content: "";
      background-image: linear-gradient(
        rgba(47, 75, 63, 0.57),
        rgba(74, 74, 74, 0.12),
        rgba(47, 75, 63, 0.77)
      );
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &-bottom {
    width: 450px;
    height: 450px;
    border: 4px solid var(--store-color);
  }
}

.header-graphic--under-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2f4b3f5c;
}
.description {
  display: flex;

  @media (max-width: map(breakpoints, ipad)) {
    flex-wrap: wrap-reverse;
  }
  .description--img {
    min-width: 300px;
    width: 100%;

    perspective: 1000px;
    position: relative;
    @media (max-width: map(breakpoints, ipad)) {
      margin: 5%;
      height: 400px;
    }

    img {
      transform: rotateY(-30deg) rotateX(5deg);
      position: absolute;
      box-shadow: 1px 0px 0 #fff, 0 0 30px rgba(0, 95, 99, 0.2);
      transform-origin: left bottom;
      display: block;

      &.desktop {
        width: 95%;
        right: -5%;
        top: 0;
      }
      &.ipad {
        width: 75%;
        left: 0;
        top: 30%;
      }
      &.phone {
        width: 30%;
        left: 50%;
        bottom: 0;
        @media (max-width: map(breakpoints, ipad)) {
          bottom: 10%;
        }
      }
    }
  }
}
.blur {
  font-style: italic;
  color: hsl(0, 0%, 49%);
}
.masonry-brick {
  margin: 0;
  border-radius: 0;
}
.masonry-brick:nth-child(4n + 1) {
  width: 500px;
}
.masonry-brick:nth-child(4n + 2) {
  width: 325px;
}
.masonry-brick:nth-child(4n + 3) {
  width: 180px;
}
.masonry--h {
  padding: 0;
  flex: 1 1 auto !important;
}

.thumbnail {
  width: 100px;
  height: 30px;
  object-fit: cover;
}
#mockUpImg {
  display: block;
  opacity: 1;
}
</style>