<template>
  <div class="about-section">
    <background />
    <div class="d-flex df-column-reverse-ipad height-per-100 auto-overflow">
      <div class="left m-right-lg">
        <div class="title-text-section m-bottom-lg">
          <h2 class="colored">Employment History</h2>
          <div
            v-for="(item, i) in Employment"
            :key="`employment-${i}`"
            class="m-bottom-xlg employment"
          >
            <p class="colored strong">{{item.company}}</p>
            <div class="small d-flex d-block-phone df-justify-content-space-between">
              <p class="m-bottom-sm">{{item.title}}</p>

              <p class="small">{{item.date}}</p>
            </div>
            <p class="small">{{item.location}}</p>
            <p class="m-ends-md">{{item.des}}</p>
            <ul>
              <li
                v-for="(listItem, i) in item.list"
                :key="`list-${i}`"
                class="m-bottom-xsm m-left-md"
              >{{listItem}}</li>
            </ul>
            <p class="m-top-md small">
              <span class="colored strong">Industry Type:</span>
              <span v-for="(type, i) in item.indurstry" :key="type">
                {{type}}
                <span v-if="i < item.indurstry.length -1">,</span>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="right">
        <div class="title-text-section m-bottom-lg">
          <h2 class="colored">Details</h2>
          <p>{{Details.tel}}</p>
          <p>{{Details.email}}</p>
        </div>
        <div class="title-text-section m-bottom-lg">
          <h2 class="colored">Design</h2>
          <div
            v-for="skill in skill.design"
            :key="skill.name"
            class="d-flex df-justify-content-space-between df-align-items-center m-bottom-xsm"
          >
            <p class="small">{{skill.name}}</p>
            <p v-html="levelMeter(skill.level)" class="xsmall" />
          </div>
        </div>
        <div class="title-text-section m-bottom-lg">
          <h2 class="colored">Development</h2>
          <div
            v-for="skill in skill.development"
            :key="skill.name"
            class="d-flex df-justify-content-space-between df-align-items-center m-bottom-xsm"
          >
            <p class="small">{{skill.name}}</p>
            <p v-html="levelMeter(skill.level)" class="xsmall" />
          </div>
        </div>
        <div class="title-text-section m-bottom-lg">
          <h2 class="colored">Worked Projects</h2>
          <div v-for="project in projects" :key="project" class="d-flex">
            <a
              :href="`http://www.${project}`"
              target="_blank"
              class="small m-bottom-xsm"
            >{{project}}</a>
            <!-- <RouterLink :to="project">{{project}}</RouterLink> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import background from "./background.vue";
export default {
  components: {
    background
  },
  data: () => ({
    Profile:
      "Front-end Developer/ UI designer with 6+ years experience of web app developing and UI designing skill, specializes in delivering high-impact websites for local and global companies.",
    Details: { tel: "604-779-3776", email: "Hocona@hotmail.com" },
    Education: [
      {
        major: "BA in 3D Animation",
        school: "Emily Carr University of Art + Design",
        date: "September 2004 to May 2007",
        location: "Vancouver, BC"
      },
      {
        major: "Certificate in Fine Art",
        school: "Kwantlen University College",
        date: "2003 to 2004",
        location: "Vancouver, BC"
      }
    ],
    skill: {
      design: [
        { name: "Adobe Photoshop", level: "1" },
        { name: "Adobe Illustrator", level: "2" },
        { name: "Adobe InDesign", level: "3" },
        { name: "Sketch", level: "4" }
      ],
      development: [
        { name: "HTML5", level: "4" },
        { name: "CSS 3", level: "4" },
        { name: "Sass", level: "4" },
        { name: "Javascript", level: "3" },
        { name: "jQuary", level: "3" },
        { name: "Vue.js", level: "3" },
        { name: "VueX", level: "3" },
        { name: "React.js", level: "2" },
        { name: "Redux", level: "2" },
        { name: "NodeJS", level: "1" },
        { name: "Webpack", level: "2" },
        { name: "NPM", level: "3" },
        { name: "Git", level: "3" },
        { name: "Bitbucket", level: "3" },
        { name: "PHP", level: "2" },
        { name: "MySQL", level: "2" },
        { name: "Jira", level: "3" },
        { name: "WordPress", level: "3" }
      ]
    },

    Employment: [
      {
        title: "UI/UX Designer | Front-End Developer",
        company: "MacProvideo",
        location: "Vancouver, BC",
        date: "2013 to Present",
        des:
          "Employed mastery of design and front-end languages in collaboration with 4 in-house team members to create user-oriented visual and feature",
        list: [
          "Enhanced the user experience by designing new web features using Vue.Js and VueX.",
          "Generated the Ajax framework for asynchronous data transfer between the browser and the server.",
          "Designed pdf, excel and print previews for all the reports in the application using HTML, Javascript, and SQL stored procedure.",
          "Created more than 20 web application landing pages with HTML5, CSS3, and Javascript"
        ],
        indurstry: ["Education", "Game"]
      },
      {
        title: "Freelance Web Developer",
        company: "U3 Design",
        location: "Vancouver, BC",
        date: "2008 to Present",
        des:
          "Active Freelance web developer and project manager codes and manages responsive website to local / international business.",
        list: [
          "Coordinated with world class agency - Isobar Shanghai division.",
          "Created and maintained project schedules, tracking deliverables, and establishing priorities.",
          "Consolidated with the prospective clients to review the website, and gather the client’s specifications for new or existing websites.",
          "Designed, coded a new website for the eagle project using CSS, XHTML, Javascript, jQuery, PHP, WordPress including custom plug-ins and filters."
        ],
        indurstry: [
          "Restaurant",
          "Tea supplier",
          "Art Gallery",
          "Bank",
          "Online Car Seller",
          "Manufacturer",
          "none profit",
          "Film festival",
          "Game"
        ]
      },
      {
        title: "Production Manager |  Sr. Graphic Designer",
        company: "Fastsigns",
        location: "Coquiltam, BC",
        date: "2007 to 2011",
        des:
          "Supervised  a team of 3. Plan, designed and developed the projects for cooperate, regional and international clients. Designed and implemented the concepts of the projects. Delivered the excellent quality service to all clients.",
        indurstry: ["Local retails", "Schools", "Casinos"]
      }
    ],

    projects: [
      "Ask.Audio",
      "Beat.School",
      "ask.audio/academy",
      "nonlineareducating.com",
      "puremagnolia.ca",
      "coastalpeoples.com",
      "fubonchina.com",
      "cinevolutionmedia.com",
      "opendoorgroup.org",
      "nipponpaint.com.cn"
    ]
  }),

  methods: {
    levelMeter(level) {
      let meter = "";
      for (var i = 0; i < 6; i++) {
        if (level > i) meter += '<i class="fa fa-circle colored"></i>';
        if (level < i) meter += '<i class="far fa-circle"></i>';
      }
      return meter;
    }
  }
};
</script>

<style lang="postcss">
.about-section {
  ul {
    list-style-type: disc;
  }
  .background {
    /* position: fixed; */
    z-index: -1;
  }
  .fa-circle {
    margin-right: 2px;
  }
  .right {
    flex-basis: 30%;
    min-width: 30%;
  }
  .employment {
    position: relative;
    margin-bottom: 80px;
    &:after {
      content: "";
      width: 30px;
      position: absolute;
      border-bottom: 4px solid var(--store-color);
      bottom: -40px;
      left: 50%;
      margin-left: -15px;
    }
  }
  a {
    @map fonts thin;
    line-height: 1.2;
    color: var(--black);
    margin-bottom: 10px;
  }
}
</style>

