<template>
  <div class="background">
    <div class="lines-wrapper d-flex df-justify-content-space-between">
      <div class="line" v-for="(link,i) in 4" :key="i" />
    </div>
  </div>
</template>
<style lang="postcss" scoped>
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  img {
    height: 900px;
  }
}
.lines-wrapper {
  width: 100%;
  height: 100%;
}
.line {
  border-left: 1px solid hsla(0, 0%, 80%, 0.29);
}
.image-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
</style>