<template>
  <div class="gallery-pg">
    <background />
    <div class="text-content d-flex df-column df-align-items-center">
      <!-- <h1 class="thin title">Gallery</h1> -->
      <Masonry :isNBG="false" :items="artworks" />
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

import background from "./background.vue";
import Masonry from "./assets/Masonry.vue";

export default {
  components: {
    background,
    Masonry
  },

  computed: {
    ...mapState(["artworks"])
  }
};
</script>

<style lang="postcss" scoped>
</style>