<template>
  <div class="home-pg">
    <background />
    <div class="text-content d-flex df-column df-align-items-center">
      <Welcome />
      <!-- <div class="parallax-container">
        <Parallax :speedFactor="0.3" :sectionHeight="100" :fixed="true">
          <Welcome />
        </Parallax>
      </div>-->
      <!-- <Intro class="intro-wrapper" style="width:100%; height: 100vh" /> -->
      <div class="parallax-container">
        <Parallax :speedFactor="0.3" :sectionHeight="100" :fixed="true">
          <Intro />
        </Parallax>
      </div>
      <!-- <Welcome :hideText="true" /> -->
    </div>
  </div>
</template>
<script>
import Parallax from "vue-parallaxy";

import background from "./background.vue";
import Welcome from "./WelcomeSection.vue";
import Intro from "./IntroSection.vue";

export default {
  components: {
    background,
    Welcome,
    Intro,
    Parallax
  }
};
</script>
<style lang="postcss" scoped>
.home-pg {
  /* margin-left: 80px; */

  h1 {
    line-height: 1;
    margin-left: -8px;
  }

  .placeholder {
    height: 100vh;
    width: 100%;
  }
}
.parallax-container {
  position: relative;
  width: 100%;
  z-index: 1;
}
.intro-wrapper {
  background: var(--assist-color);
}
</style>
