<template>
  <div class="intro-section">
    <!-- <background /> -->
    <div class="archived-project m-ends-xxlg m-ends-md-ipad width-per-100">
      <h2 class="thin">Archived Projects</h2>
      <div
        v-for="(project, name, i) in filteredProjectByDate"
        :key="i"
        class="archived-project-wrapper d-flex df-justify-content-space-between m-top-sm"
      >
        <div class="df-flex-single-1">{{name}}</div>
        <div class="df-flex-single-2">
          <div
            v-for="({name, location},i) in project"
            :key="i"
            class="d-flex df-justify-content-space-between"
          >
            <span class="project-name align-right-ipad">{{name}}</span>
            <a href="#" class="colored">{{location}}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="reach-me m-ends-xxlg m-ends-md-ipad width-per-100">
      <h2 class="thin">Reach</h2>
      <div
        v-for="({name, type, url}, i) in reach"
        :key="i"
        class="reach-me-wrapper d-flex df-justify-content-space-between m-top-sm"
      >
        <div class="df-flex-single-1">{{name}}</div>
        <a v-if="type === 'link'" :href="url" class="df-flex-single-2 underline-h">
          <div class="d-flex df-justify-content-space-between">
            <div class="align-right-ipad">Go</div>
          </div>
        </a>
        <a
          v-else-if="type === 'email'"
          :href="`:mailto:${url}`"
          class="df-flex-single-2 underline-h"
        >
          <div class="d-flex df-justify-content-space-between">
            <div class="align-right-ipad">{{url}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
// import background from "./background.vue";
export default {
  components: {
    // background
  },
  data: () => ({
    projects: [
      { year: 2019, name: "beat.school", location: "macProvideo" },
      {
        year: 2019,
        name: "Leetcode Challanges",
        location: "gitHub",
        url: "https://github.com/yushanc/smallApps"
      },
      { year: 2019, name: "Wedding Page", location: "Wedding" },
      { year: 2018, name: "test", location: "Wedding" },
      { year: 2019, name: "beat.school", location: "macProvideo" },
      {
        year: 2019,
        name: "NLE Platform Code rebuild to Vue",
        location: "macProvideo"
      },
      { year: 2019, name: "Wedding Page", location: "Wedding" },
      { year: 2018, name: "test", location: "Wedding" },
      { year: 2019, name: "beat.school", location: "macProvideo" },
      {
        year: 2019,
        name: "NLE Platform Code rebuild to Vue",
        location: "macProvideo"
      },
      { year: 2019, name: "Wedding Page", location: "Wedding" },
      { year: 2018, name: "test", location: "Wedding" }
    ],
    reach: [
      {
        name: "Linkedin",
        url: "https://www.linkedin.com/in/YushanChang",
        type: "link"
      },
      {
        name: "github",
        url: "https://github.com/yushanc/smallApps",
        type: "link"
      },
      { name: "email", url: "hocona@hotmail.com", type: "email" }
    ]
  }),
  computed: {
    filteredProjectByDate() {
      const filteredProjects = this.projects.reduce((list, project) => {
        list[project.year] = [...(list[project.year] || []), project];
        return list;
      }, {});
      return filteredProjects;
    }
  }
};
</script>

<style lang="postcss" scoped>
.intro-section {
  /* background-color: var(--assist-color);
  height: 100vh; */
  text-align: left;
  max-width: var(--max-width);
}
</style>