<template>
  <div>
    <div class="container d-flex df-align-items-center">
      <div
        class="p-top-xxlg p-bottom-xlg menu--wrapper d-flex df-justify-content-space-between df-column df-align-items-center"
      >
        <router-link to="/">
          <!-- <h1 class="logo m-bottom-xlg m-top-md-ipad">Y</h1> -->
          <img src="./../../public/logo.png" alt="Yushan" style="width:60px;height:60px" />
        </router-link>

        <div class="menu">
          <div v-for="(link,i) in links" :key="i" class="vertical-text m-bottom-sm hidden-overflow">
            <router-link :to="`/${link}`" class="underline-v">{{link}}</router-link>
          </div>
        </div>
      </div>
      <slot />
    </div>
    <footer :class="{'show':footerToggler}">
      Email:
      <a
        href="mailto:hocona@hotmail.com?Subject=Schedule%20an%20interview"
        target="_top"
      >hocona@hotmail.com</a> | Phone:
      <a href="tel:604-779-3776">604-779-3776</a>
    </footer>
  </div>
</template>
<script>
export default {
  data: () => ({
    links: ["Resume", "Work"],
    footerToggler: false
  }),
  methods: {
    toggleFooter() {
      this.footerToggler =
        document.documentElement.scrollTop > 100 ||
        document.body.scrollTop > 100
          ? true
          : false;
    }
  },
  created() {
    window.addEventListener("scroll", this.toggleFooter);
  },

  destroyed() {
    window.removeEventListener("scroll", this.toggleFooter);
  }
};
</script>
<style lang="postcss" scoped>
.container {
  /* height: 100vh; */
  padding: var(--space-30) 0;
}
.logo {
  font-size: 5em;
  color: var(--store-color-dark);
  font-weight: --font-weight-bold;
  margin: 0;
  line-height: 0.5;
}
.menu--wrapper {
  /* height: 100%; */
  height: 100vh;
  position: fixed;
  top: 0;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-top: var(--space-15);
}

footer {
  background: var(--store-color);
  padding: 10px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: -100px;
  width: 100vw;
  animation: rollOut 0.5s;
  z-index: 10;
  &.show {
    bottom: 0px;
    animation: rollIn 1s;
  }
  a {
    color: white;
  }
  @keyframes rollIn {
    from {
      bottom: -100px;
    }
    to {
      bottom: 0px;
    }
  }
  @keyframes rollOut {
    from {
      bottom: 0px;
    }
    to {
      bottom: -100px;
    }
  }
}
</style>
