<template>
  <div class="welcome width-per-100" :class="{imgeOnly:hideText}">
    <background />
    <div class="text-content align-center">
      <img src="../assets/imgs/shan.svg" alt="Yushan" class="width-per-50" />
      <div class="align-center">
        <div class="underline colored">shan</div>
        <div class="m-bottom-xxlg sub-title colored">Coral</div>
        <div v-if="!hideText" class="dec width-per-50 d-inline-block align-left">
          <p>I'm Yushan. You can call me Shan,Front-end developer with UI design background. I am looking for new opportunities at moment. Over the 7 years of my career, my work includes web app development, user interface design, brand & identity design and creatvie direction.</p>
          <p>While at macProvideo over the last few year, I've wored on mostly web application for online learning platforme and product solutions for a range of features we built.</p>
          <p>If you think i'd be a good fit for your team, please get in touch and we can chat.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import background from "./background.vue";
export default {
  components: {
    background
  },
  props: {
    hideText: {
      type: Boolean,
      default: false
    }
  }
};
</script>
<style lang="postcss" scoped>
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: var(--assist-color);
  padding-bottom: 138px;
  z-index: 2;
  position: relative;
  height: 100%;
  .dec > p {
    margin-bottom: 10px;
  }
}
.underline {
  display: inline-block;
  font-size: 2.5em;
  font-weight: 400;
  &:after {
    content: "";
    border-bottom: 1px solid grey;
    width: 100%;
    display: block;
  }
}
.sub-title {
  font-size: 1.3em;
  font-weight: 300;
}
.imgeOnly {
  z-index: -2;
  opacity: 0.04;
  height: 100%;
  padding-bottom: 0;
  .text-content {
    width: 100%;
  }
}
</style>