<template>
  <div
    :class="`btn ${customStyle}`"
    :style="{
      padding:`${this.padding}px`,
      fontSize:`${this.fontSize}em`,
      backgroundColor:this.backgroundcColor,
      color:this.textColor}"
    v-on:click="getClick"
  >
    <slot></slot>
  </div>
</template>
<script>
export default {
  props: {
    isCircle: {
      type: Boolean,
      default: false
    },
    backgroundcColor: {
      type: String,
      default: "grey"
    },
    textColor: {
      type: String,
      default: "white"
    },
    padding: {
      type: Number,
      default: 30
    },
    fontSize: {
      type: Number,
      default: 2
    },
    fixedPostion: {
      type: String,
      default: null
    } // top-right, top-left, bottom-right,bottom-left
  },
  data: () => ({
    isClicked: false
  }),
  computed: {
    customStyle() {
      let assignClass;
      let fixedPostionClass;
      if (this.fixedPostion != null) {
        fixedPostionClass = `fixed ${this.fixedPostion}`;
      }

      if (this.isCircle) {
        assignClass = "btnCircle";
      }

      return `${assignClass} ${fixedPostionClass}`;
    }
  },
  methods: {
    getClick() {
      this.isClicked = !this.isClicked;
      this.$emit("onClick", this.isClicked);
    }
  }
};
</script>
<style lang="postcss">
.btn {
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  border-radius: 3px;
  &.btnCircle {
    border-radius: 100%;
  }
}
</style>