<template>
  <div v-if="isNBG" class="masonry-layout masonry--h masonry-layout--noBackground">
    <div v-if="withTitle" class="masonry-brick masonry-brick--h">{{withTitle}}</div>
    <div
      class="masonry-brick masonry-brick--h"
      v-for="color in items.scheme"
      :key="color"
      :style="{backgroundColor:color}"
    >{{color}}</div>
  </div>
  <div v-else class="masonry-layout masonry--h">
    <div
      class="masonry-brick masonry-brick--h"
      v-for="(item, i) in items"
      :key="i"
      :data-text="item.name"
    >
      <router-link v-if="item.heroImg" :to="{ name: 'portfolioArt',params:{item:item, id:item.id}}">
        <img :src="item.heroImg" :alt="item.name" class="masonry-img" />
      </router-link>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    items: {
      type: [Object, Array]
    },
    isNBG: {
      type: Boolean,
      default: true
    },
    withTitle: {
      type: String,
      default: null
    }
  }
};
</script>
<style lang="postcss" scoped>
.masonry-layout {
  display: flex;
  width: 100%;

  display: flex;
  flex-flow: column wrap;
  max-height: 800px;
  width: 100%;
}
.masonry--h {
  flex-flow: row wrap;
  padding-right: 8px;
}
.masonry-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  vertical-align: middle;
  max-width: 100%;
}
.masonry-brick {
  overflow: hidden;
  border-radius: 5px;
  margin: 0 0 8px 8px;
  background-color: #333;
  color: white;
  position: relative;

  &:after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5000;
    transform: translate(-50%, -50%);
    transition: font-size 0.25s, opacity 0.25s ease-in-out;
    opacity: 0;
    font-size: 0.8em;
    font-weight: 100;
  }
  &:hover {
    &:after {
      opacity: 0.8;
    }
    .masonry-img {
      filter: blur(3px) brightness(50%);
    }
  }
}
.masonry-brick--h {
  flex: auto;
  height: 250px;
  min-width: 150px;
}
.masonry-brick:nth-child(4n + 1) {
  width: 250px;
}
.masonry-brick:nth-child(4n + 2) {
  width: 325px;
}
.masonry-brick:nth-child(4n + 3) {
  width: 180px;
}
.masonry-brick:nth-child(4n + 4) {
  width: 380px;
}
.masonry-layout--noBackground {
  .masonry-brick {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
</style>