<template>
  <div>
    <LayoutWMenu :class="setPageClass">
      <router-view class="p-top-xxlg m-left-xxlg m-sides-zero-phone width-per-100 relative" />
    </LayoutWMenu>
  </div>
</template>

<script>
import LayoutWMenu from "./components/LayoutWMenu";
// import Home from "./components/Home";

export default {
  components: {
    LayoutWMenu
    // Home
  },
  computed: {
    setPageClass() {
      const currentPageName = this.$route.name;
      if (currentPageName !== "homepage") {
        return "secondary-page";
      }
      return "";
    }
  },
  watch: {
    $route(to) {
      document.title = to.meta.title || "YuShan Chang";
    }
  },
  metaInfo() {
    return {
      title: "YuShan - Experienced front-end web app developers",
      meta: [
        {
          name: "description",
          content:
            "YuShan is a front-end Developer/ UI designer with 6+ years experience of web app developing and UI designing skill, specializes in delivering high-impact websites for local and global companies. "
        },
        {
          property: "og:title",
          content: "YuShan - Experienced front-end web app developers"
        },
        { property: "og:site_name", content: "YuShan" },
        { property: "og:type", content: "website" },
        { name: "Yushan", content: "index,follow" }
      ]
    };
  }
};
</script>

<style lang="postcss">
@import "./assets/styles/master.css";
.secondary-page {
  height: 100vh;
  > div:nth-child(2) {
    height: 100%;
  }
}
</style>>
