/*  html 
    body
*/

html {
  font-size: var(--base-font-size);
}
body {
  color: var(--black);
  font-family: var(--base-font-type);
  background-color: var(--assist-color);
  background: var(--assist-color);
  scroll-behavior:smooth;
}

