/* store font 
    - font size
    - font weight
    - font style
    - responsive font
*/

p, li {
  @map fonts thin;
  font-size: var(--base-font-size);
  line-height:1.2;
  &.small {
    font-size: calc(var(--base-font-size)*.9);
  }
  &.xsmall {
    font-size: calc(var(--base-font-size)*.6);
  }
  &.strong{
    font-weight: 600;
    margin-bottom:5px;
  }
}

@each $val in h1, h2, h3, h4 {
  $(val) {
    @map fonts bold;
    &.thin {
      @map fonts thin;
    }
    &.title{
      margin-bottom: 20px;
    }
  }
}

a {
  text-decoration: none;
  color: var(--black);
  font-size:calc(var(--base-font-size)*0.9);
  position: relative;
  &.underline-v {
    overflow: hidden;
    &:after {
      content:"";
      position: absolute;
      /* top:-200px; */
      top:0;
      bottom:0;
      left: 0;
      width: 50%;
      height: 0;
      /* min-width: 50%;
      min-height: 100%; */
      background-color: var(--store-color);
      z-index: -1;
    }
    &:hover {
      &:after {
        height: 100%;
        animation: vrollIn 1s;
      }
    }

    @keyframes vrollIn {
      from {
        height: 0;
      }
      to {
        height: 100%;
      }
    }
  }
  &.underline-h {
    overflow: hidden;
    &:after {
      content:"";
      position: absolute;
      bottom:0;
      left: 0;
      width: 0;
      height: 50%;
      background-color: var(--store-color);
      z-index: -1;
    }
    &:hover {
      &:after {
        animation: rollIn 1s;
      }
    }

    @keyframes rollIn {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  }
  
}

h1 {
  font-size:calc(var(--base-font-size)*2);
  
}
h2 {
  margin-bottom: 40px;
  font-size:calc(var(--base-font-size)*1.8);
}
h3 {
  font-size:calc(var(--base-font-size)*1.3);
}
h4 {
  font-size:calc(var(--base-font-size)*1.2);
}

.colored {
  color:var(--store-color);
}

.strong{
  font-weight: 600;
}
/* h1 {
  @map fonts bold;

  &.thin {
    @map fonts thin;
  }

} */
