/* layout styls
    - flex box
    - image
    - responsive layout
    - gallary 

*/

ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
}
.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

/* display */
@each $bp in nbp,desktop,laptop,ipad,phone {
  @each $input-val in none, block, inline, inline-block, flex {
    @if ($bp == nbp){
      .d-$(input-val) {
        display:$(input-val);
      }
    } @else {
      /* @media (min-width: map(breakpoints, medium)) */
      @media (max-width: map(breakpoints, $(bp))){
        .d-$(input-val)-$(bp){
          display:$(input-val);
        }
      }
    }
    
  }
}


/* flex-box setting 
    flex-flow: flex-direction | flex-wrap
    justify-content: flex-start | flex-end | center | space-between | space-around
    align-items: flex-start | flex-end | center | space-between | space-around
    align-content: flex-start | flex-end | center | space-between | space-around
    flex: 1,2,3
*/
@each $bp in nbp,desktop,laptop,ipad,phone {
  @each $toolName in justify-content, align-items, align-content{
    @each $tool in flex-start, flex-end, center, space-between, space-around{
      @if ($bp == nbp){
        .df-$(toolName)-$(tool){
          $(toolName): $(tool);
        }
      }@else{
        @media (max-width: map(breakpoints, $(bp))){
          .df-$(toolName)-$(tool)-$(bp){
            $(toolName): $(tool);
          }
        }
      }
    }
  }
}
@each $bp in nbp, desktop,laptop,ipad,phone {
  @each $direction in row, row-reverse, column, column-reverse{
    @if ($bp == nbp){
        .df-$(direction) {
          flex-direction: $(direction);
        }
      } @else{
      @media (max-width: map(breakpoints, $(bp))){
        .df-$(direction)-$(bp) {
          flex-direction: $(direction);
        }
      }
    }    
  }
}
@each $bp in nbp, desktop,laptop,ipad,phone {
  @each $wrap in nowrap, wrap, wrap-reverse{
    @if ($bp == nbp){
        .df-$(wrap) {
          flex-wrap: $(wrap);
        }
      } @else{
      @media (max-width: map(breakpoints, $(bp))){
        .df-$(wrap)-$(bp) {
          flex-wrap: $(wrap);
        }
      }
    }    
  }
}
@each $bp in nbp, desktop, laptop, ipad, phone {
  @each $type in group, single {
    @each $num in 1, 2, 3, 4 {
      @if ($bp == nbp){
        @if ($type == group){
          .df-flex-group-$(num) > div {
            flex:$(num);
          }
        } @else {
          .df-flex-single-$(num){
            flex:$(num);
          }
        }
        
      } @else {
        @if ($type == group){
          .df-flex-group-$(num)-$(bp) > div {
            flex:$(num);
          }
        } @else {
          .df-flex-single-$(num)-$(bp){
            flex:$(num);
          }
        }
      }
    }
  }
  
}

/* position*/
@each $bp in nbp, desktop,laptop,ipad,phone {
  @each $position in absolute, relative, fixed {
    @if ($bp == nbp){
      .$(position){
        position:$(position);
      }
    } @else{
      @media (max-width: map(breakpoints, $(bp))){
        .$(position)-$(bp){
          position:$(position);
        }
      }
    } 
  }
}
@each $bp in nbp, desktop,laptop,ipad,phone {
  @each $position in top, bottom, left, right, topRight, topLeft, bottomRight, bottomLeft {
    @each $space in zero, xxsm, xsm, sm, md, lg, xlg, xxlg {
    @if ($bp == nbp){
        
      @if ($position == topRight){
        .$(position)-$(space){
          top:map(spaces, $(space));
          right:map(spaces, $(space));
        }
      }
      @if ($position == topLeft){
        .$(position)-$(space){
          top:map(spaces, $(space));
          left:map(spaces, $(space));
        }
      }
      @if ($position == bottomLeft){
        .$(position)-$(space){
          bottom:map(spaces, $(space));
          left:map(spaces, $(space));
        }
      }
      @if ($position == bottomRight){
        .$(position)-$(space){
          bottom:map(spaces, $(space));
          right:map(spaces, $(space));
        }
      }
      @else {
        .$(position)-$(space){
          $(position):map(spaces, $(space));
        }
      }

    } @else{
      @media (max-width: map(breakpoints, $(bp))){
        .$(position)-$(bp){
          position:$(position);
        }
      }
    } 
  }}
}


/* margin & padding */
@each $bp in nbp,desktop,laptop,ipad,phone {
  @each $typeName, $type in (p, m),(padding, margin){
    @each $space in zero, xxsm, xsm, sm, md, lg, xlg, xxlg {
      @each $dir in all, sides, ends, left, right, top, bottom {
        @if ($bp == nbp){
          .$(typeName)-$(dir)-$(space){
            @if ($dir == all) {
              $(type): map(spaces, $(space));
            }@else if ($dir == sides){
              $(type)-left: map(spaces, $(space));
              $(type)-right: map(spaces, $(space));
            }@else if ($dir == ends){
              $(type)-top: map(spaces, $(space));
              $(type)-bottom: map(spaces, $(space));
            }@else {
              $(type)-$(dir): map(spaces, $(space));
            }
          }
        } @else {
          @media (max-width: map(breakpoints, $(bp))){
            .$(typeName)-$(dir)-$(space)-$(bp){
              @if ($dir == all) {
                $(type): map(spaces, $(space));
              }@else if ($dir == sides){
                $(type)-left: map(spaces, $(space));
                $(type)-right: map(spaces, $(space));
              }@else if ($dir == ends){
                $(type)-top: map(spaces, $(space));
                $(type)-bottom: map(spaces, $(space));
              }@else {
                $(type)-$(dir): map(spaces, $(space));
              }
            }
          }
        }
      }
    }
  }
}

/* width & height */
@each $bp in nbp, desktop,laptop,ipad,phone {
  @each $type in width, height {
    @each $per-num in per-10, per-20, per-25, per-30, per-50, per-80, per-100{
      @if ($bp == nbp){
        .$(type)-$(per-num){
          $(type): map(spaces, $(per-num));
        }
      } @else{
        @media (max-width: map(breakpoints, $(bp))){
          .$(type)-$(per-num)-$(bp){
            $(type): map(spaces, $(per-num));
          }
        }
      }
    }
  }
}
/* text-alignment */
@each $bp in nbp, desktop, laptop, ipad, phone {
  @each $dir in left, right, center {
    @if ($bp == nbp){
      .align-$(dir){
        text-align:$(dir);
      }
    } @else {
      .align-$(dir)-$(bp) {
        text-align:$(dir);
      }
    }
  }
}

/* overflow
  overflow:hidden | auto |
*/
@each $bp in nbp, desktop, laptop, ipad, phone {
  @each $type in hidden, auto, scroll {
    @if ($bp == nbp){
      .$(type)-overflow {
        overflow:$(type);
      }
    } @else {
      .$(type)-overflow-$(bp) {
        overflow:$(type);
      }
    }
  }
}

.text-content{
  /* padding-top:80px; */
  padding-bottom:40px;
  position: relative;
  
  /* overflow-y: auto; */
  height: 100%;
}
.hidden-overflow{
  overflow: hidden;
}
.auto-overflow{
  overflow: auto;
}

.home-pg .Masthead__image.is-parallax {
  left: auto;
  right: auto;
}