/* font style
space */

:root {
  /* color */
  --black: #4a4a4a;
  --dark-black: color-mod(#4a4a4a l(80%));
  --store-color: #1C90A1;
  --store-color-dark:#066a79;
  --assist-color: #f5f6f5;
  /* base font */
  --base-font-size: 17px;
  --base-font-type: "Rubik", sans-serif;
  --second-font-type:'Liu Jian Mao Cao', cursive;
  --font-weight-thin: 300;
  --font-weight-reg: 400;
  --font-weight-bold: 500;

  --max-width: 900px;
  --bp-names: nbp,desktop,laptop,ipad,phone;
}

/* responsive */
@custom-media --lg-up (min-width: 992px);
@custom-media --md-up (min-width: 768px);
@custom-media --sm-up (min-width: 350px);

